root = true

[*] # 针对所有文件
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md] # 仅针对 md 文件
insert_final_newline = false
trim_trailing_whitespace = false